<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ORION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Highlight-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Highlight-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">ORION</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Busqueda</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Iniciar Sesión</a><a class="btn btn-light action-button" role="button" href="#">Registro</a></span>
            </div>
        </div>
    </nav>
    {%block content%}
    {%endblock%}
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">ORION © 2021</p>
    </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>