<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='dashboard/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='dashboard/css/dashboard.css') }}" rel="stylesheet">
  <title>Productos</title>
</head>

<body>
  <!--Cuerpo-->
  <div class="container-fluid">
    <div class="row">
      <!--Sidebar-->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="user-check"></span>
                Perfil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardProductos')}}">
                <span data-feather="gift"></span>
                Productos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardCrearProducto')}}">
                <span data-feather="gift"></span>
                Agregar productos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardLotes')}}">
                <span data-feather="archive"></span>
                Lotes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardProductosVendidos')}}">
                <span data-feather="bar-chart-2"></span>
                Productos vendidos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardUsuariosRegistrados')}}">
                <span data-feather="bar-chart-2"></span>
                Usuarios Registrados
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardComentariosUsuarios')}}">
                <span data-feather="layers"></span>
                Comentarios
              </a>
            </li>
          </ul>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardRegistrarUsuarioInterno')}}">
                <span data-feather="thumbs-up"></span>
                registrar usuario interno
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboardRegistrosUsuariosInternos')}}">
                <span data-feather="file-text"></span>
                ver registros de usuarios internos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Opción 8
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Opción 9
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Fin del Sidebar-->
      <!-- Cuerpo -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% extends "base.html" %}
        {% block content %}
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Producto</h1>
        </div>

        <div class="table-responsive">
          <form action="" method="post">
            <input type="submit" value="ordenar por mayor ventas" name="ordenarVentas">
            <input type="submit" value="ordenar cantidades existentes" name="ordenarExistentes">
            <input type="submit" value="filtrar por categoria baja" name="filtrarCategoriaBaja">
            <input type="submit" value="filtrar por categoria media" name="filtrarCategoriaMedia">
            <input type="submit" value="filtrar por categoria alta" name="filtrarCategoriaAlta">
            <input type="submit" value="filtrar por categoria alta" name="filtrarCategoriaAlta">
            <input type="submit" value="Productos con descuento" name="productosDescuento">
            <input type="submit" value="Rango de precio" name="rangoPrecio">
            <input type="number" name="min" placeholder="minimo">
            <input type="number" name="max" placeholder="maximo">
            <input type="submit" value="Buscar Producto" name="buscarProducto">
            <select name="productos" id="">
              {% for r in nombreProductos %}
              <option value="{{r[0]}}">{{r[0]}}</option>
              {% endfor %}
            </select>
            <div style="margin-top: 20px;"></div>
            <table class="table table-striped table-sm">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col">Seleccionar Registro</th>
                  <th scope="col">id_producto</th>
                  <th scope="col">Nombre_producto</th>
                  <th scope="col">categoria</th>
                  <th scope="col">descripcion</th>
                  <th scope="col">tipo_unidad</th>
                  <th scope="col">precio_unidad</th>
                  <th scope="col">unidades_vendidas</th>
                  <th scope="col">porcentaje_promo</th>
                  <th scope="col">valor_ventas</th>
                  <th scope="col">bono_decuento</th>
                  <th scope="col">calificacion_producto</th>
                  <th scope="col">total_unidades</th>
                </tr>
              </thead>
              <tbody>
                {% if actualizar %}
                {% for r in registrosProductoPorID %}
                <tr>
                  <td><input type="submit" name="confirmar" value="confirmar"></td>
                  <td></td>
                  <td><input type="text" value="{{r[1]}}" name="op1"></td>
                  <td><input type="text" value="{{r[2]}}" name="op2"></td>
                  <td><input type="text" value="{{r[3]}}" name="op3"></td>
                  <td><input type="text" value="{{r[4]}}" name="op4"></td>
                  <td><input type="text" value="{{r[5]}}" name="op5"></td>
                  <td><input type="text" value="{{r[6]}}" name="op6"></td>
                  <td><input type="text" value="{{r[7]}}" name="op7"></td>
                  <td><input type="text" value="{{r[8]}}" name="op8"></td>
                  <td><input type="text" value="{{r[9]}}" name="op9"></td>
                  <td><input type="text" value="{{r[10]}}" name="op10"></td>
                  <td><input type="text" value="{{r[12]}}" name="op12"></td>
                </tr>
                {% endfor %}
                {% endif %}
                {% for r in registrosProductos %}
                <tr>
                  <td><input type="radio" name="seleccionar" value="{{r[0]}}"></td>
                  <td>{{r[0]}}</td>
                  <td>{{r[1]}}</td>
                  <td>{{r[2]}}</td>
                  <td>{{r[3]}}</td>
                  <td>{{r[4]}}</td>
                  <td>{{r[5]}}</td>
                  <td>{{r[6]}}</td>
                  <td>{{r[7]}}</td>
                  <td>{{r[8]}}</td>
                  <td>{{r[9]}}</td>
                  <td>{{r[10]}}</td>
                  <td>{{r[12]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="btn-group">
              <input value="editar" name="editar" id="editar" type="submit" class="btn btn-primary"
                style="margin: 5px;">
              <input value="eliminar" name="eliminar" id="eliminar" type="submit" class="btn btn-primary"
                style="margin: 5px;">
            </div>
          </form>
        </div>
        {% endblock %}
      </main>

    </div>
  </div>

  <!--Fin pie de pagina-->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/feather.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/dashboard.js"></script>
</body>

</html>