{% extends "base.html" %}
{% block content %}

    <h1 class="display-5 text-center">Productos</h1>
    <div class="container-fluid" style="align-content: center;align-items: center;text-align: center;">
        <div class="card-group text-center group-cartelera">
        {% for r in row_productos %}
        <div class="col-md-3">
            <div class="card peli-card"><img class="card-img-top w-100 d-block" style="height: 300px;width: 70px;" src="data:image/png;base64,{{ r['imagen'] }}">
                <div class="card-body">
                    <h4 class="card-title">{{ r["nombre_producto"] }}</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm">
                            <tbody>
                                <tr>
                                    <th>Precio:</th>
                                    <td>${{ r["precio_unidad"] }}</td>
                                </tr>
                                <tr>
                                    <th>Cantidad disponibles:</th>
                                    <td>{{ r.total_unidades }}</td>
                                </tr>
                                <tr>
                                    <th>Unidades vendidas:</th>
                                    <td>{{ r["unidades_vendidas"] }}</td>
                                </tr>
                                <tr>
                                    <th>Puntuacion:</th>
                                    <td>{{ r.calificacion_producto }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><button class="btn btn-primary" type="button" onclick="window.location.href='/producto/{{r.id_producto}}'">Ver Detalles</button>
                </div>
            </div>
        </div>
        {% endfor %}
            
    </div>

{% endblock %}