{% extends "base.html" %}
{% block content %}
<div id="tituloRegistroUsuario">
    <h1>Registro de usuario</h1>
</div>
<div class=" container-md" style="margin-bottom: 40px; border-radius: 30px;">
    <div id="contenedorFormulario">
        <form id="formulario" method="post">
            <span>
                <input class="form-control" type="text" placeholder="Cedula" name="Cedula" />
            </span>
            <div id="msgCedula" class="mensaje">
            </div>
            <span class="incorrecto">
                <input class="form-control" type="text" placeholder="Nombre" name="Nombre" />
            </span>
            <div id="msgNombre" class="mensaje">
            </div>
            <span>
                <input class="form-control" type="text" placeholder="Apellido" name="Apellido" />
            </span>
            <div id="msgApellido" class="mensaje">
            </div>
            <span>
                <input class="form-control" type="text" placeholder="Correo" name="Correo" />
            </span>
            <div id="msgCorreo" class="mensaje">
            </div>

            <div style="margin-top: 10px; margin-bottom: 10px;">
                <div>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                        value="Masculino">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Masculino
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked
                        value="Femenino">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Femenino
                    </label>
                </div>
            </div>
            <div>
                <strong><label for="">Fecha de Nacimiento: </label></strong><br><input class="form-control" type="date"
                    style="margin-bottom: 10px;" name="fecha">
            </div>
            <div id="msgFechaNacimiento" class="mensaje">
            </div>

            <div>
                <input class="form-control" type="text" placeholder="Direccion" name="direccion">
            </div>

            <div>
                <input class="form-control" type="text" placeholder="Ciudad" name="ciudad">
            </div>
            <div id="msgCiudad" class="mensaje">
            </div>

            <div>
                <input class="form-control" type="text" placeholder="Nombre de usuario" name="nombreUsuario">
            </div>
            <div id="msgNombreUsuario" class="mensaje">
            </div>

            <span>
                <input class="form-control" type="password" placeholder="Contraseña" name="Contra" />
            </span>
            <div id="msgPass1" class="mensaje">
            </div>
            <span>
                <input class="form-control" type="password" placeholder="Repita su contraseña" name="ContraRepetida" />
            </span>

            <div id="msgPass2" class="mensaje">
            </div>
            <br>
            <hr>
            <div style="text-align: center;">
                <p><input class="check-input" type="checkbox" value="" id="flexCheckDefault">
                    Estoy de acuerdo con los <a href="#"><br> terminos y condiciones</a></p>
            </div>
            <div id="msgTerminos" class="mensaje" style="text-align: center; margin-bottom: 10px;">
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <button type="reset" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}